daily-projects-aggregator-to-flat-projectsheet.json
{
  "name": "daily-projects-aggregator-to-flat-projectsheet",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1gSjiaV900li7-5NIU1SpiYfI3ZJK15H1oB3JuOXhcs8",
          "mode": "list",
          "cachedResultName": "Web Team n8n Reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gSjiaV900li7-5NIU1SpiYfI3ZJK15H1oB3JuOXhcs8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1541158572,
          "mode": "list",
          "cachedResultName": "DailyLogsData",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gSjiaV900li7-5NIU1SpiYfI3ZJK15H1oB3JuOXhcs8/edit#gid=1541158572"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Date",
              "lookupValue": "={{ $json.formattedDate }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -208,
        -32
      ],
      "id": "94d16f15-9408-4a2b-b577-b216325ab327",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fnSCdUg3fhYq3oJ4",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        80,
        -32
      ],
      "id": "c3d70a29-d865-4134-abff-5d527439159b",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "const OUTPUT_AS_ARRAY_OF_ITEMS = true;\nconst FIELD_WITH_TEXT = \"Projects\";\n\n// ────────────────────────────────────────────────\nconst raw = ($input.first()?.json?.[FIELD_WITH_TEXT] || \"\").trim();\n\nif (!raw) {\n  return [{ json: { project: \"No data\", value: 0 } }];\n}\n\n// Debug: show what we actually received (remove in production)\nconsole.log(\"Raw Projects input:\", raw);\n\n// ── Try to normalize and split ────────────────────────────────\nlet entries = [];\n\n// Split aggressively on ==> or newlines\nconst segments = raw\n  .replace(/\\n+/g, \" \")              // treat newlines as spaces temporarily\n  .split(/==+>|\\s{2,}/)              // split on ==> or multiple spaces\n  .map(s => s.trim())\n  .filter(s => s.length > 0);\n\n// Parse segments in pairs (project → number)\nfor (let i = 0; i < segments.length; i++) {\n  let projectPart = segments[i];\n  let valuePart = segments[i + 1];\n\n  // If current is project and next looks like number\n  if (valuePart && /^\\d+$/.test(valuePart)) {\n    const value = parseInt(valuePart, 10);\n    if (!isNaN(value)) {\n      // Clean project name\n      let project = projectPart\n        .replace(/^\\d+\\s*/, '')        // remove leading numbers\n        .replace(/\\s*==>\\s*$/, '')     // remove trailing ==>\n        .trim();\n      \n      if (project) {\n        entries.push({ project, value });\n      }\n    }\n    i++; // skip the number we just used\n  }\n}\n\n// ── Aggregate / sum duplicates ────────────────────────────────\nconst result = {};\nfor (const { project, value } of entries) {\n  const key = project.trim();\n  if (key) {\n    result[key] = (result[key] || 0) + value;\n  }\n}\n\n// ── Output ─────────────────────────────────────────────────────\nif (OUTPUT_AS_ARRAY_OF_ITEMS) {\n  return Object.entries(result).map(([project, value]) => ({\n    json: {\n      project,\n      value\n    }\n  }));\n} else {\n  return [{ json: result }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -16
      ],
      "id": "aacb43c9-fa60-4cda-9122-375817102e43",
      "name": "Code in JavaScript",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1,
                2,
                3,
                4,
                5
              ],
              "triggerAtHour": 20
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -656,
        -32
      ],
      "id": "f6fdfd9c-56c0-4bf3-9a17-d73fe0b08943",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.timestamp }}",
        "format": "custom",
        "customFormat": "dd/MM/yyyy",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -448,
        -32
      ],
      "id": "ffb78ed3-366b-4d5f-bf23-33772a6f0f49",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1gSjiaV900li7-5NIU1SpiYfI3ZJK15H1oB3JuOXhcs8",
          "mode": "list",
          "cachedResultName": "Web Team n8n Reports",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gSjiaV900li7-5NIU1SpiYfI3ZJK15H1oB3JuOXhcs8/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 46687874,
          "mode": "list",
          "cachedResultName": "ProjectSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gSjiaV900li7-5NIU1SpiYfI3ZJK15H1oB3JuOXhcs8/edit#gid=46687874"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ $('Loop Over Items').item.json.Date }} ",
            "Member Name": "={{ $('Loop Over Items').item.json['Member Name'] }} ",
            "Project": "={{ $('Code in JavaScript').item.json.project }}",
            "Tasks": "= {{ $('Code in JavaScript').item.json.value }}"
          },
          "matchingColumns": [
            "        unique_key"
          ],
          "schema": [
            {
              "id": "        unique_key",
              "displayName": "        unique_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Member Name",
              "displayName": "Member Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Project",
              "displayName": "Project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Tasks",
              "displayName": "Tasks",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        896,
        -16
      ],
      "id": "5e16074a-83fb-4cb0-98df-45e2f0c585d0",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "fnSCdUg3fhYq3oJ4",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "timezone": "Asia/Karachi",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "0d157432-618c-45bf-a84b-539406ff6831",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bfefda8b8561e999840c4adfac23e386ed9e4cb2425c2372729c1876c847c669"
  },
  "id": "yHYaxmKkO6M2vzHk",
  "tags": []
}